<div class="mt-4">
    <div>
        <h3>
            Blog đã xóa
        </h3>

        <a href="/blogs/management" class="btn btn-primary">Danh sách khóa học</a>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ảnh</th>
                <th scope="col">Tiêu đề</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each blogs}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>
                    <img src="{{this.image}}" alt="{{this.title}}"
                        style="width: 60px; height: 60px; object-fit: cover" />
                </td>
                <td>{{this.title}}</td>
                <td>{{this.description}}</td>
                <td>{{formatLocal this.createdAt 'HH:mm DD/MM/YYYY'}}</td>
                <td>
                    <a type="button" data-id="{{this._id}}" data-title="{{this.title}}" data-bs-toggle="modal"
                        data-bs-target="#restoreBlog" class="btn btn-link">Khôi
                        phục</a>
                    <a type="button" data-bs-toggle="modal" data-bs-target="#deleteBlog" class="btn btn-link"
                        data-id="{{this._id}}" data-title="{{this.title}}">
                        Xóa vĩnh viễn
                    </a>
                </td>
            </tr>

            {{~else~}}
            <tr>
                <td colspan="6">
                    <div class="d-flex flex-column align-items-center gap-2 w-100 text-center">
                        <span>Thùng rác trống!</span>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>

    </table>
</div>

<div class="modal fade" id="restoreBlog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="restoreBlogModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="restoreBlogModal">
                    Xác nhận khôi phục blog
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn khôi phục blog
                <strong id="blogTitleSelected"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnRestore">Có</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Không
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteBlog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteBlogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteBlogLabel">
                    Xác nhận xóa blog
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa vĩnh viễn blog
                <strong id="blogTitleSelected"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnDelete">Có</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Không
                </button>
            </div>
        </div>
    </div>
</div>

<form method="POST" id="deleteBlogForm"></form>

<form method="POST" id="restoreBlogForm"></form>

<script>
    const handleSelectBlog = (event) => {

        const button = event.relatedTarget;
        const blogId = button.getAttribute('data-id');
        const blogTitle = button.getAttribute('data-title');

        return {
            blogId,
            blogTitle
        }
    }
    document.addEventListener('DOMContentLoaded', () => {
        const modal = document.getElementById('deleteBlog');
        const modalRestore = document.getElementById('restoreBlog');
        const blogTitleElem = document.getElementById('blogTitleSelected');
        const deleteForm = document.getElementById('deleteBlogForm');
        const btnDelete = document.getElementById('btnDelete');

        const restoreForm = document.getElementById('restoreBlogForm');
        const btnRestore = document.getElementById('btnRestore');
        let currentId = null;

        modal.addEventListener('show.bs.modal', (event) => {
            const { blogId, blogTitle } = handleSelectBlog(event);

            currentId = blogId;
            blogTitleElem.textContent = blogTitle;
        });

        modalRestore.addEventListener('show.bs.modal', (event) => {
            const { blogId, blogTitle } = handleSelectBlog(event);

            currentId = blogId;
            blogTitleElem.textContent = blogTitle;
        });


        btnRestore.addEventListener('click', (event) => {
            if (!currentId) return;

            event.preventDefault();
            restoreForm.action = `/blogs/restore/${currentId}?_method=PATCH`;
            restoreForm.submit();
        });

        btnDelete.addEventListener('click', () => {
            if (!currentId) return;
            deleteForm.action = `/blogs/delete-force/${currentId}?_method=DELETE`;
            deleteForm.submit();
        });
    });
</script>